*{margin: 0;
padding: 0;}

body {
    background-image: url(fondmen.jpg); 
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
    margin: 0;
}

header h1{
   
    color: rgb(54, 31, 31);
    text-align: center;
       padding: 2rem 0;
    
}

.header {
   
     text-align: center;
   padding-left: 250px;
   padding-right: 250px;    
}

.navigation {
    margin: 0;
    padding: 0;
    background: rgba(90, 44, 44, 0.86);}

}